<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
<div class="bg-image" style="background-image: url('https://wallpapercave.com/wp/wp4064809.jpg');
    height: 100vh;">
    <br>
    <!-- <h2 class='text-center' style="color:blueviolet"> List of Items</h2> -->




    <table class="table table-hover table-dark">
        <thead class="bg-danger text-white text-upparcase">
            <tr>
                <th> Order-Id</th>
                <th> Bill-Id </th>
                <th> Item Name </th>
                <th> Price</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bill of bills">
                <td> {{ bill.id }} </td>
                <td> {{ bill.billId }} </td>
                <td> {{ bill.name}} </td>
                <td> ₹{{ bill.price}} </td>
                <td>

                    <button (click)="updateBill(bill.id)" class="btn-hover color-9"> <i class="fa fa-edit"></i></button>

                    <!-- <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px"> View</button> -->

                </td>
                <td>
                    <button (click)="deleteBill(bill.id)" class="btn-hover color-10"> <i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th id="total" colspan="3">Total :</th>
                <td>₹{{totalPrice}}</td>
            </tr>
        </tfoot>
    </table>


    <!-- <div style="text-align: center">

        <h1 style="color: crimson;">{{message}}</h1>

    </div> -->
</div>